.hg
.svn
.libs
.deps
*.o
*.lo
*.a
*.la
*.exe
*.lib
*.dll
*.pc
Makefile.in
Makefile
/COPYING
/INSTALL
/sdk
/ogre-build
configure
libtool
ltmain.sh
install-sh
config.sub
config.guess
config.log
config.status
stamp-h*
config.h.in
config.h
aclocal.m4
depcomp
missing
compile
autom4te.cache